<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Masuk</title>
</head>
<body>
    <h1> Cieeee Nabung! </h1>

    <form>
        <input type="text" placeholder="Nabung berapa?" id="pmasuk" name="pmasuk">
        <button id="add_masuk">Nabung Berapa Nich?</button>
    </form>

    <div id="test"></div>

    <script src="/btn.js"></script>
</body>
</html>