<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
</head>
<body>
    <h1> Regist yourself here! </h1>

    <form action="/user" method="POST">
        <input type="text" placeholder="username" name="uname">
        <input type="text" placeholder="password" name="pass">
        <button type="submit">Submit</button>
    </form>
</body>
</html>